<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBench</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SpeedBench</h1>
    <a href="/test-speed">Click here to test speed</a>
  </body>
</html>
