<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBench</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">SpeedBench</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Test Speed</a></li>
            <li><a href="/view-all">All Tests</a></li>
            <li><a href="/isp-report">ISP Reports</a></li>
          </ul>
        </div>
      </nav>

<h1><%= ispSpeed.name %></h1>
<h4>Latest tests on this ISP:</h4>

<br>

<div class="list-group">
    <% eachSpeed.forEach(function(speed) { %>
    <a href="/view-all/<%= speed.id %>" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= speed.speed %> Mbps</h5>
      </div>
      <p class="mb-1">Click to view details</p>
      <small><%= speed.createdAt.toUTCString() %></small>
    </a>
    <% }) %>
  </div>
      
  </body>
</html>