<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBench</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>SpeedBench</h1>

    <p id="testResult">0</p>
  </body>
</html>
