<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">SpeedBench</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="active"><a href="/view-all">All Tests</a></li>
            <li><a href="#">ISP Reviews</a></li>
          </ul>
        </div>
      </nav>

    <% results.forEach(function(result) { %>

        <div class="divTable" style="width: 100%; border: 1px solid #000">
                <div class="divTableBody">
            <div class="divTableRow">
            <div class="divTableCell">Speed: <%= result.speed %> Mbps</div>
              <div class="divTableCell">Location: <%= result.location %></div>
              <div class="divTableCell">ISP: <%= result.isp %></div>
              <div class="divTableCell"><a href="/view-all/<%= result.id %>">View Test Details</a></a></div>
            </div>
        </a>
          </div>
        </div>
        <% }) %>
        <br />
</body>
</html>